form {
  margin: auto;
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 212px;
  height: 200px;
}

form .custom-select .add-event {
  cursor: pointer;
  padding: 0 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .custom-select .add-event input:disabled {
  cursor: pointer;
}

form .custom-select .add-event .select-btn {
  display: none;
}

form .custom-select .add-event:hover {
  background-color: #b2b2b2;
}

form .custom-select .custom-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .custom-select .custom-option .check-btn {
  display: none;
}

form .custom-select .btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .custom-select .select-btn {
  cursor: pointer;
  margin-top: 3px;
  margin-right: 5px;
  padding: 1px;
  border: 1px solid black;
  width: 12px;
  height: 12px;
}

form .custom-select .edit-btn:hover, form .custom-select .check-btn:hover {
  border: 1px solid green;
}

form .custom-select .delete-btn:hover {
  border: 1px solid red;
}

form .custom-select input {
  border: 1px solid grey;
  background-color: transparent;
  width: 60%;
}

form .custom-select input:disabled {
  color: black;
  border: none;
}

.custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

.custom-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: black;
}

.custom-select__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3px;
  font-size: 13px;
  font-weight: 300;
  color: #3b3b3b;
  height: 20px;
  line-height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: black;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-top: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0 3px 0 3px;
  font-size: 13px;
  font-weight: 300;
  color: #3b3b3b;
  cursor: pointer;
}

.custom-option input:disabled {
  cursor: pointer;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #20a6ff;
}

.arrow {
  position: relative;
  height: 7px;
  width: 7px;
}

.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.arrow::before {
  left: -2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: black;
}

.arrow::after {
  left: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: black;
}
/*# sourceMappingURL=stylesheet.css.map */